{% extends "base_generic.html" %}

{% block content %}
  {% if form.errors %}
  <p> Albo hasło albo nazwa nie pasują. Spróbuj jeszcze raz </p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p> Nie masz dostępu do tej strony </p>
  {% else %}
  <p> Zaloguj się, żeby zobaczyć tęstronę </p>
  {% endif %}
{% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>

  <div>
    <input type="submit" value="Zaloguj się " />
    <input type="hidden" name="next" value="" />
  </div>
  </form>

  {% endblock %}
