<!DOCTYPE html>
<html lang='pl'>
	<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{%	static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/style.css' %}">

	
	{% block title %} 
	<title>Winnicki katalog książek</title>
	{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">

	</head>

	<body>
		<div class="container">
		<div class="header-box">
		{% block header %}
		<h1>Winnicki Katalog książek</h1>
		{% endblock %}
		</div>
		
		<nav class="navigation-panel">
		{% block sidebar %}
			<ul>
			<li><a href="{% url 'index'%}">Strona główna</a></li>
			<li><a href="{% url 'books'%}">Książki</a></li>
			<li><a href="{% url 'authors' %}"> Autorzy </a></li>
			<li><a href="{% url 'book-create' %}"> Dodaj książkę </a></li>

			</ul>
		{% endblock %}


		</nav>
		
		<section class="main-box">

			{% block content %}
			<p>Lorem ipsum dolor sit amet, consectetur acpisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			{% endblock %} 

			{% block pagination %}
				{% if is_paginated %}
					<div class="pagination">
						<span class="page-links">
							{% if page_obj.has_previous %}
								<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">poprzedna</a>
							{% endif %}
							<span class="page-current">
								Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
							</span>
							{% if page_obj.has_next %} 
								<a href="{{ requerst.path }}?page={{ page_obj.next_page_number }}"> następna</a>
							{%endif %}
						</span>
					</div>
			{% endif %}
			{% endblock %}





		</section>
		</div>
		

	</body>

	

</html>