{% extends "base_generic.html" %}

{% block content %}
<h1>Winnicki katalog książek</h1>

<h3>W katalogu znajduje się obecnie:</h3>
<ul>
<li><strong>Liczba książek: </strong> {{ num_books }}</li>
<li><strong>Liczba autorek: </strong> {{ num_authors }}</li>

<li><strong>Liczba książek w języku polskim: </strong> {{ books_pl }}</li>
<li><strong>Liczba książek w języku angielskim: </strong> {{ books_ang }}</li>
<li><strong>Liczba książek w języku francuskim: </strong> {{ books_fr }}</li>
<li><strong>Liczba książek w języku niemieckim: </strong> {{ books_niem }}</li>
</ul>

{% endblock %}
