/*---------------------------------------------
BASIC SETUP
--------------------------------------------*/
*{
margin:0;
padding:0;
}

body {
	background-color: #fbfbfb;
}
html{
	background-color: #fbfbfb;
	color:#333;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size:20px;
	text-rendering:optimizeLegibility;
}

.clearfix:after{
	content:"";
	display:table;
	clear:both;
}

/*-------------------------------------------------------
REUSABLE ELEMENTS
------------------------------------------------*/

h1, h2, h3 {
	padding: 5px;
}

ul {

 	list-style: none;

}

li {
	padding:5px;

}

p {
	padding:5px;
	line-height: 1.5;

}
label {
	font-size: 80%
}



td{
	padding-top: 3px;
	padding-left: 10px;


}
.helptext {
	font-size: 50%;
	border-bottom: 1px solid #ccc;
	border-left:1px solid #ccc;
	padding:3px;
	margin-bottom: 3px;
}

.errorlist{
	color:red;
	font-size: 70%;
}

/*------------------------------------------
LINKS
-------------------------------------------*/
/*a{

	margin: 0 10px;
	padding: 5px;
	text-decoration: none;

}

a:link,
a:visited{

	color: #555;
}

a:hover,
a:active{
color: #333;
text-decoration: underline;
transition: color 0.5s;
}


.back-button a {
	border:1px solid #333;
	display: inline-block;
	margin: 5px;
	margin-left: 0px;

}
*/
input[type=submit] {
	background-color: #fff;
	color: #555;
	display: inline-block;
	border: 1px solid #333;
	padding: 3px;
	font-size: 80%
	}
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #ddd;
}




/*--------------------------------------------
CONTAINER
---------------------------------------------*/

.container{
	width:70%;
	margin: 0 auto;
}

/*--------------------------------------------
HEADER BOX
---------------------------------------------*/
.header-box{
padding: 10px;

}
/*---------------------------------------------
NAVIGATION BAR
------------------------------------------*/
.mynavbar {
	border-radius: 0;
	border-bottom: 1px solid grey;

}

.mynavbar #myband {
	color: red;
}
nav {
	padding: 10px;

	border-bottom: 1px solid black;
}

.navigation-panel ul li{
	display: inline-block;
}

#username {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 5px 7px;
}

#searchform{
	margin-right: 30px;
}

.myform-control {
	border: solid 1px grey;
	border-radius: 0;
}

.mynavbar-brand {
	color: #444 !important;
}
/*-------------------------------------------------
MAIN BOX
-----------------------------------------*/
.myh{
	text-align: center;
}
.myjumbo{
	background-color: #fff;
	border: solid 1px grey;

}
.main-box {

	padding:10px;
}



/*-------------------------------------
PAGINATION
------------------------------------*/


.pagination {
	text-align: center;
	width: 80%;
	margin: 30px auto;
	padding:20px;
	border-top: 1px solid grey;
	font-size: 80%;
	color: #aaa;
	border-radius: 0;

}

.pagination form {
	display: inline-block;
}

/*-------------------------------------
DETAILS
------------------------------------*/

.search-buttons{
	display:none;
}


.detail-buttons{

	margin-top: 20px;


}
.detail-buttons ul li{
	display: inline-block;
		margin-right: 15px;
		background-color: #fff;
		color: #555;
		display: inline-block;
		border: 1px solid #333;
		padding: 3px;
		font-size: 80%

}

/*AUTHOR*/

.author-detail-box {
	width:70%;
}


.book-author-details li{


	margin-bottom: 10px;

}

.danger {


}


/*BOOK*/





/*------------------------------------------
SEARCH RESULTS
-------------------------------------------*/

.search-results-ul p {

}


.search-results-ul a {

}


/*------------------------------------------
BOOK LIST
-------------------------------------------*/
.author-book-list{
	font-size:60%;
	line-height: 0.7;
	word-spacing: 0.8;

}

.red {

	color: red;
}
