{% extends "base_generic.html" %}

{% block content %}


  <section class="details">
  <h2> <span id="js-test"><strong>SZCZEGÓŁY</strong></span> </h2>


  <h3><strong>Tytuł: </strong>{{book.title}}</h3>

  <h3><strong> Autor(ki):</strong></h3>
  {% for author in book.author.all %} <a href="{{author.get_absolute_url}}">{{author}}</a>
  {% endfor %}

  <p><strong>Wydawca: </strong> {{book.publisher}}</p>
  <p><strong>Rok wydania: </strong>{{book.published}}</p>
  <p><strong>ISBN: </strong>{{book.isbn}}</p>
  <p><strong>Język: </strong>{% for lan in book.language.all %} {{lan}}
  {% endfor %}</p>
  <p><strong>Kategoria: </strong>{% for cat in book.category.all %} {{cat}}
  {% endfor %}</p>
  <p><strong>Miejsce: </strong>{{book.place}} / Półka: {{book.shelf}}, </p>

  <div class="detail-buttons">
  <ul>
  <li><a class="detail-buttons-color" href="{% url 'book-update' pk=book.id %}"> Edytuj książkę </a></li>
  <li><a class="red" href="{% url 'book-delete' pk=book.id %}"> Usuń książkę </a></li>
  <li><a class="detail-buttons-color" href="{% url 'book-detail-full' pk=book.id %}"> Informacje Szczegółowe </a></li>
  </ul>
  </div>
  </section>

  {% endblock %}
