{% extends "base_generic.html" %}


{% block content %}
{% if search_flag %}
SEARCHFLAG ON
{% else %}
<h2 class="myh"> Książki: </h2>

{% if book_list %}
<table class="table table-striped">
<thead> <th>Tytuł</th><th>Autor_ka</th></thead>
{% for book in book_list %}
<tr>
  <td>
<a href="{{book.get_absolute_url}}">{{book.title}}</a>
</td>
<td>

{% for author in book.author.all %}
 <a href="{{author.get_absolute_url}}"> {{author.last_name}}</a>;
{% endfor %}
</td>


</tr>


{% endfor %}
</table>
{% else %}

<p>W katalogu nie ma książek</p>
{% endif %}
{% endif %}
{% endblock %}
