{% extends "base_generic.html" %}

{% block content %}
<section class="details">
<h2> Szczegóły </h2>

<h3><strong>Tytuł:</strong> {{book.title}}</h3>

<h3><strong> Autor:</strong>
{% for author in book.author.all %} <a href="{{author.get_absolute_url}}">{{author}}</a></h3>
{% endfor %}

<p><strong>Wydawca: </strong> {{book.publisher}}</p>
<p><strong>Rok wydania: </strong>{{book.published}}</p>

<div class="detail-buttons">
<ul>
<li><a href="{% url 'book-update' pk=book.id %}"> Edytuj książkę </a></li>
<li><a href="{% url 'book-delete' pk=book.id %}"> USUŃ książkę </a></li>
<li><a href="{% url 'book-detail-full' pk=book.id %}"> Informacje Szczegółowe </a></li>
</ul>
</div>
</section>
{% endblock %}
